<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap5/css/bootstrap.css' %}">
	<title>disp_report_daily_report</title>
</head>
<body>
    <div class="container-fluid p-5 bg-white text-success text-center">
        <h1>disp_report_daily_report</h1>
        <p>Resize this responsive page to see the effect!</p> 
        <h3><a href="{% url 'disp_stock' 'stock' %}">STOCK</a></h3>
        <h3><a href="{% url 'disp_reports' 'reports' %}">REPORTS</a></h3>
        <h3><a href="{% url 'disp_prescription' 'prescription' %}">PRESCRIPTION</a></h3>
    </div>

    <h3><a href="{% url 'disp_reports' 'daily_report' %}">Daily Report</a></h3>
    <h3><a href="{% url 'disp_reports' 'notifications' %}">Notifications</a></h3>
</body>
</html>