<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap5/css/bootstrap.css' %}">
	<title>dr_prescription_prescriptions</title>
</head>
<body>
    <div class="container-fluid p-5 bg-white text-success text-center">
        <h1>dr_prescription_prescriptions</h1>
        <p>Resize this responsive page to see the effect!</p> 
        <h3><a href="{% url 'dr_stock' 'stock' %}">STOCK</a></h3>
        <h3><a href="{% url 'dr_prescription' 'prescriptions' %}">PRESCRIPITON</a></h3>
    </div>
    <h3><a href="{% url 'dr_prescription' 'prescriptions' %}">Prescripitions</a></h3>
</body>
</html>