<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap5/css/bootstrap.css' %}">
	<title>dr_stock_search_stock_item</title>
</head>
<body>
    <!-- nav bar  -->
    <nav class="navbar navbar-light navbar-expand-lg" class="justify-content-center" style="background: #D9D9D9;">
        <!-- STOCK, REPORTS AND ACCOUNTS header -->
        <div class="container-fluid justify-content-center">
            <a class="nav-link active" aria-current="page" href="{% url 'dr_stock' 'search_stock_item' %}"><button class="btn btn-lg me-2 text-white" type="button" style="background:#009099; width: 180px;">STOCK</button></a>
            <a class="nav-link" href="{% url 'dr_prescription' 'prescriptions' %}"><button class="btn  btn-lg text-white" type="button" style="background:#1D242E; width: 180px;">PRESCRIPTION</button></a>
        </div>

        <!-- log out -->
        <div class=" text-center">
            <h3>{{request.user.username}}</h3>
            <a href="{% url 'logout' %}?next=/" ><button class="btn btn-sm bg-danger text-white">LogOut</button></a>
            <!-- <button type="submit" class="btn btn-danger nav navbar" >Logout</button> -->
        </div>
    </nav>


    <!-- everything below the navbar -->
    <!-- sidebar and page content -->
    <div class="container-fluid">
        <div class="row">
            <!-- sidebar -->
            <div class=" col-2 d-flex flex-column flex-shrink-0 p-3 m-0 rounded-end" style="height: 100vh; background: #283342; color: white;">
                <ul class="nav nav-pills flex-column mb-auto">
                    <!-- sidebar heading -->
                  <li class="nav-item text-white" >
                     <h3 class="m-0 text-white">STOCK</h3>
                  </li>
                  <hr style="color: white; width: 100%;" class="m-2">

                  <!-- side bar items -->
                  <li class="nav-item">
                    <a href="{% url 'dr_stock' 'search_stock_item' %}" class="nav-link active" style="background: #009099;" aria-current="page">
                    Search Stock Item
                    </a>
                  </li>
                </ul>
            </div>
            <!-- end of sidebar -->

            <!-- page content -->
            <div class="col-10 bg-light">
                <h1>page content goes here</h1>
                <form action="{% url 'dr_stock' 'search_stock_item' %}" method="get">
                    <input type="search" name="search" id="search">
                    <input type="submit" value="Search">
                  </form>
                  <table class=" table table-responsive">
                    <tr>
                      <th>Name</th>
                      <th>Strength</th>
                      <th>Description</th>
                      <th>Quantity in Dispensary</th>
                      <th>Quantity in store</th>
                    </tr>
                    {% for item in items %}
                    <tr>
                      <td>{{item.name}}</td>
                      <td>{{item.strength}}</td>
                      <td>{{item.drug_type}}</td>
                      <td>{{item.dispensary_quantity}}</td>
                      <td>{{item.store_quantity}}</td>
                    </tr>
                    {%endfor%}
                  </table>
            </div>
            <!-- end of page content -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container fluid -->
</body>
</html>
