<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap5/css/bootstrap.css' %}">
	<title>dsm_reports_daily_report</title>
</head>
<body>
    <div class="container-fluid p-5 bg-white text-success text-center">
        <h1>dsm_reports_daily_report</h1>
        <p>Resize this responsive page to see the effect!</p> 
		<h3><a href="{% url 'dsm_stock' 'stock' %}">STOCK</a></h3>
		<h3><a href="{% url 'dsm_reports' 'reports' %}">REPORTS</a></h3>
		<h3><a href="{% url 'dsm_accounts' 'accounts' %}">ACCOUNTS</a></h3>
      </div>
    
    <h3><a href="{% url 'dsm_reports' 'daily_report' %}">Daily Report</a></h3>
    <h3><a href="{% url 'dsm_reports' 'periodic_reports' %}">Periodic Reports</a></h3>
    <h3><a href="{% url 'dsm_reports' 'notifications' %}">Notifications</a></h3>
</body>
</html>