<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap5/css/bootstrap.css' %}">
	<title>dsm_accounts_new_account</title>
</head>
<body>
    <!-- nav bar  -->
    <nav class="navbar navbar-light navbar-expand-lg" class="justify-content-center" style="background: #D9D9D9;">
        <!-- STOCK, REPORTS AND ACCOUNTS header -->
        <div class="container-fluid justify-content-center">
            <a class="nav-link active" aria-current="page" href="{% url 'dsm_stock' 'stock' %}"><button class="btn btn-lg me-2 text-white" type="button" style="background:#1D242E; width: 150px;">STOCK</button></a>
            <a class="nav-link" href="{% url 'dsm_reports' 'reports' %}"><button class="btn  btn-lg me-2 text-white" type="button" style="background:#1D242E; width: 150px;">REPORTS</button></a>
            <a class="nav-link" href="{% url 'dsm_accounts' 'accounts' %}"><button class="btn  btn-lg text-white" type="button" style="background:#009099; width: 150px;">ACCOUNTS</button></a>
        </div>

        <!-- log out -->
        <div class=" text-center">
            <h3>{{request.user.username}}</h3>
            <a href="{% url 'logout' %}?next=/"><button class="btn btn-sm bg-danger text-white">LogOut</button></a>
            <!-- <button type="submit" class="btn btn-danger nav navbar" >Logout</button> -->
        </div>
    </nav>
    <!-- end of navbar -->

    <!-- everything below the navbar -->
    <!-- sidebar and page content -->
    <div class="container-fluid">
        <div class="row">
            <!-- sidebar -->
            <div class=" col-2 d-flex flex-column flex-shrink-0 p-3 m-0 rounded-end" style="height: 100vh; background: #283342; color: white;">
                <ul class="nav nav-pills flex-column mb-auto">
                    <!-- sidebar heading -->
                    <li class="nav-item text-white" >
                        <h3 class="m-0 text-white">STOCK</h3>
                    </li>
                    <hr style="color: white; width: 100%;" class="m-2">

                    <!-- side bar items -->
                    <li class="nav-item">
                        <a href="{% url 'dsm_accounts' 'new_account' %}" class="nav-link text-white">
                        New Account
                        </a>
                        </a>
                        </li>
                        <li class="nav-item">
                        <a href="{% url 'dsm_accounts' 'edit_account' %}" class="nav-link active" style="background: #009099;" aria-current="page">
                        Edit Account
                        </a>
                        </a>
                        </li>
                </ul>
            </div>
            <!-- end of sidebar -->

            <!-- page content -->
            <div class="col-10 bg-light">

                <h3>Change User Credentials</h3>
                <form action="{% url 'dsm_account' 'edit_account' user.id %}" method="post">
                    {% csrf_token %}
                    <p>Username: <input type="text" name="username" value="{{user.username}}" id="username"> </p>
                    <p>Confirm current password: {{form2.old_password}} </p>
                    <p>Enter new password: {{form2.new_password1}} </p>
                    <p>Confirm new password: {{form2.new_password2}} </p>
            
                    <h4>Account Type:</h4>
                    {%if user.first_name == "Doctor"%}
                    <input type="radio" name="role" value="Doctor" id="dr" required checked><label for="dr">Doctor</label><br>
                    {%else%}
                    <input type="radio" name="role" value="Doctor" id="dr" required><label for="dr">Doctor</label><br>
                    {%endif%}
                    {%if user.first_name == "Drug Store Manager"%}
                    <input type="radio" name="role" value="Drug Store Manager" id="dsm" checked><label for="dsm">Drug Store Manager</label><br>
                    {%else%}
                    <input type="radio" name="role" value="Drug Store Manager" id="dsm"><label for="dsm">Drug Store Manager</label><br>
                    {%endif%}
                    {%if user.first_name == "Dispenser"%}
                    <input type="radio" name="role" value="Dispenser" id="disp" checked><label for="disp">Dispernser</label><br>
                    {%else%}
                    <input type="radio" name="role" value="Dispenser" id="disp"><label for="disp">Dispernser</label><br>
                    {%endif%}
                    <button type="submit" class="btn btn-dark text-light">Change</button>
                    
                    {% if form.errors or form2.errors %}
                    <h4 class="text-danger">Fix this and try again:</h4>
                    {%endif%}
                    {% if form.errors %}
                    <ol class="text-danger">
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li>{{error}}</li>
                            {% endfor %}
                        {% endfor %}
                    </ol>
                    {%endif%}
                    {% if form2.errors %}
                    <ol class="text-danger">
                        {% for field in form2 %}
                            {% for error in field.errors %}
                                <li>{{error}}</li>
                            {% endfor %}
                        {% endfor %}
                    </ol>
                    {%endif%}
                </form>
                <br><br>
                <form action="{% url 'dsm_delete' 'user' user.id %}" method="get">
                    <button type="submit" class=" btn btn-danger" onclick="return confirm('Are you sure you want to delete this account?');">Delete</button>
                </form>
            </div>
            <!-- end of page content -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container fluid -->
</body>
</html>
